.mainContainer {
    display: flex;
    flex-direction: column;
}

.mainText {
    font-family: var(--main-font);
    font-size: 60px;
    text-align: center;
}

.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
}

.subtext {
    font-family: var(--main-font);
    font-size: 45px;
    text-align: right;
    width: 30%;
    padding-right: 1em;
}

.greenAccentText {
    font-weight: 700;
    color: var(--green);
}

.mainHorzContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
    align-items: center;
}

.mainSideText {
    font-family: var(--main-font);
    font-size: 65px;
    text-align: left;
    width: 45%;
}

.bold {
    font-weight: 700;
}