.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 100%;
}

.arrow {
    font-size: 35px;
}

.arrow:hover {
    color: var(--accent-pink);
}