html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Mostin;
  src: url(fonts/MostinMedium-p75Rv.ttf);
}

@font-face {
  font-family: Gill Sans;
  src: url(fonts/GillSans.ttc);
}

:root {
  --accent-font: Mostin, sans-serif;
  --main-font: Gill Sans, sans-serif;
  --green: #848471;
  --light-pink: #F8EDEB/*#FEC5BB*/;
  --accent-pink: #FE725D;
  --r: #F75D4F;
  --g: #87966F;
  --b: #003DAC;
}
